*{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: darkcyan;
}
.info{
    font-size: 20px;
    margin: 55px 0;
}
.ul{
    display: flex;
    justify-content: space-around;
}
.card{
    overflow: hidden;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    transition: 0.2s ease-in-out;
}
.card:hover{
    box-shadow: 10px 7px 7px #e3e3e3;
}
.card__img{
    background-size: cover;
    width: inherit;
    box-sizing: content-box;
}
.card__container{
    padding: 0 20px;
}
.price{
    font-size: 36px;
    font-weight: bold;
}
.card__title{
    font-weight: bold;
}
.rating__container{
    display: flex;
    align-items: center;
}
.rating__box{
    display: flex;
    align-items: center;
}
.rating__img{
    width: 14px;
    height: 14px;
    margin: 0 10px 0 0;
}
.rating__text{
    margin: 0;
}
.line{
    width: 1px;
    height: 21px;
    background-color: #e3e3e3;
    margin: 0 10px;
}
.feedback{
    color: #7b7b7b;
}
.card__haracteristics{
    margin: 20px 0;
}
.card__haracteristic{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__haracteristic > p{
    margin: 10px 0;
}
.btn__container{
    margin: 0 auto;
}
.card__btn{
    padding: 15px 0;
    border: 0;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
.card__btn:hover{
    background-color: darkcyan;
    color: #fff;
}