body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex__container{
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
}
form>p{
    font-size: 25px;
    margin: 10px;
}
form>*{
    font-size: 18px;
    margin: 12px;
    padding: 10px;
}
